:root {
  --sh-gutter: rgb(116 115 119 / 5%);

  --vp-sidebar-bg-color: transparent;
  --vp-c-gutter: var(--sh-gutter);
  --vp-c-divider: var(--sh-gutter);
  --vp-c-brand-1: var(--vp-c-purple-1);
  --vp-c-brand-2: var(--vp-c-purple-2);
  --vp-c-brand-3: var(--vp-c-purple-3);
  --vp-c-brand-soft: var(--vp-c-purple-soft);
}

.dark {
  --sh-gutter: rgb(210 209 213 / 6%);

  --vp-c-gutter: var(--sh-gutter);
  --vp-c-divider: var(--sh-gutter);
}

.vp-doc h1 {
  font-weight: 800;
}

.vp-doc h2, .vp-doc h3, .vp-doc h4, .vp-doc h5, .vp-doc h6 {
  font-weight: 700;
}
